@using First_Project.Enum
@model Form

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="fw-medium fs-base me-auto"> Create KYC Details </h2>
            <hr />
        </div>

        <div class="col-12">
            <h2 class="fs-lg truncate">KYC Details</h2>
            <p>Below is the KYC information user filled on the DigiGold Platform</p>
            <div class="d-flex flex-column flex-sm-row align-items-center box p-5 mt-5 ">
                <div class="w-24 h-24 w-lg-12 h-lg-12 image-fit me-3">
                    <img class="rounded-circle" src="~/Images/profile-4.jpg">
                </div>
                <span class="me-3"> Member ID: <span class="fw-medium">33553575 </span> </span>
                <span class="me-3"> Status: <span class="fw-medium text-theme-9">Active </span> </span>
                <span class="me-3"> Ref Code: <span class="fw-medium">33553575 </span> </span>
                <span class="me-3"> Last Login: <span class="fw-medium">33553575 </span> </span>
                <span class=""> KYC Status: <span class="fw-medium text-theme-6">Pending </span> </span>
            </div>
        </div>


        <h2 class="fs-lg truncate mt-10">Current Address Information</h2>
        <div class="mb-3">
            @Html.LabelFor(a => a.FullName, new {@class ="", @id =""})
            <span class="text-theme-6">*</span>
            @Html.TextBoxFor(a => a.FullName , new {@class="form-control"})

            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.DOB, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.DOB , new {@class="form-control", @type="date"})
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.Gender, new {@class ="control-label", @id =""})
                <span class="text-theme-6">*</span><br />
                Male:   @Html.RadioButton("Gender","Male")
                Female: @Html.RadioButton("Gender","Female")
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.Email, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.Email , new {@class="form-control"})
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.PhoneNumber, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.PhoneNumber , new {@class="form-control"})
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.MaritalStatus, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.MaritalStatus , new {@class="form-control"})
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.FatherName, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.FatherName , new {@class="form-control"})
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.GrandFatherName, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.GrandFatherName , new {@class="form-control"})
                <span asp-validation-for="GrandFatherName" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.MotherName, new {@class ="", @id =""})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.MotherName , new {@class="form-control"})
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.Occupation, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.Occupation , new {@class="form-control"})
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                @Html.LabelFor(a => a.Nationality, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.Nationality , new {@class="form-control"})
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
        </div>

        @*Current Address Information*@
        <h2 class="fs-lg truncate mt-10 mb-2">Current Address Information</h2>

        <div class="row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.Province, new {@class = "form-label"})
                <span class="text-theme-6">*</span>
                @Html.DropDownListFor(m => m.Province,
                new SelectList(Enum.GetValues(typeof(ProvinceEnum))),
                "Select Province", new { @class = "form-control" })
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.District, new {@class = "form-label"})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.District , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.Municipality, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.Municipality , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.WardNo, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.WardNo , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.StreetName, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.StreetName , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.HouseNumber, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.HouseNumber , new {@class="form-control"})
            </div>
        </div>

        @*Permanent Address Information*@
        <h2 class="fs-lg truncate mt-10 mb-2">Permanent Address Information</h2>
        
        <div class="row ">
            <div class="d-flex align-items-center mt-3 ml-3">
                <input id="remember-me" type="checkbox" class="form-check-input border me-2">
                <label class="cursor-pointer select-none" for="remember-me">Same as Current Address</label>
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.Province, new {@class = "form-label"})
                <span class="text-theme-6">*</span>
                @Html.DropDownListFor(m => m.Province,
                new SelectList(Enum.GetValues(typeof(ProvinceEnum))),
                "Select Province", new { @class = "form-control" })
            </div>

            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.District, new {@class = "form-label"})
                <span class="text-theme-6">*</span>
                @Html.TextBoxFor(a => a.District , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.Municipality, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.Municipality , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.WardNo, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.WardNo , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.StreetName, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.StreetName , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.HouseNumber, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.HouseNumber , new {@class="form-control"})
            </div>
        </div>

        @*Document Information*@
        <h2 class="fs-lg truncate mt-10">Document Information</h2>
        <div class="row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.IdType, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.IdType , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.DocumentNumber, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.DocumentNumber , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.IssuedByState, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.IssuedByState , new {@class="form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.IssuedByDistrict, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.IssuedByDistrict , new {@class="form-control"})
            </div>
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.IssueDate, new {@class ="", @id =""})
                @Html.TextBoxFor(a => a.IssueDate , new {@class="form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                @Html.LabelFor(a => a.Status, new {@class ="form-label", @id =""})
                @Html.DropDownListFor(m => m.Status,
                new SelectList(Enum.GetValues(typeof(StatusEnum))),
                "Select Status", new { @class = "form-control" })
            </div>
        </div>

        @*Additional Information*@
        <h2 class="fs-lg truncate mt-10">Additional Information</h2>
        <div class="row">
            <div class="col-md-6 mt-5">
                <span class="fw-medium">Checked By:</span>
                <span class="">anoria@gmail.com</span>
            </div>
            <div class="col-md-6 mt-5">
                <span class="fw-medium">Updated Date:</span>
                <span class="">anoria@gmail.com</span>
            </div>
            <div class="col-md-6 mt-5">
                <span class="fw-medium">Status:</span>
                <span class=""><span class="ms-auto text-theme-6">  Active </span></span>
            </div>
            <div class="col-md-6 mt-5">
                <span class="fw-medium">Remarks:</span>
                <span class="">anoria@gmail.com</span>
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
            <a asp-controller="Form" asp-action="Index" class="btn btn-outline-secondary w-40 me-1 mx-3">Back To List</a>
        </div>
    </div>
</form>

