@model List<First_Project.Models.Form>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row p-4">
       <div class="col-6"><h2 >List of Data</h2></div>
        <div class="col-6 text-right"><a asp-controller="Form" asp-action="Create" class="btn btn-primary ">Create New Data</a></div>
    </div>
</div>
<hr/>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>IsActive</th>
            <th>Province</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
           <tr>
               <td width="50%">@item.CustomerId</td>
               <td width="50%">@item.Name</td>
               <td width="50%">@item.Mobile</td>
               <td width="50%">@item.Gender</td>
               <td width="50%">@item.IsActive</td>
               <td width="50%">@item.Province</td>
               <td width="50%">@item.District</td>
           </tr>
        }
    </tbody>
</table>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                Male @Html.RadioButtonFor(m=>m.Gender,"Male")
                Female @Html.RadioButtonFor(m=>m.Gender,"Female")
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Province" class="control-label"></label><br />
                @Html.DropDownListFor(m => m.Province, new SelectList(Enum.GetValues(typeof(Province))))
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                @Html.CheckBoxFor(m => m.IsActive)
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@

